/* about page styling */

#aboutIntro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  #aboutImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #aboutImageContainer img {
    width: 300px;
    height: auto;
    display: block;
  }
  
  #workTimelineHeader {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  
  #workTimeLineTag, #skillsTitle {
    font-size: 26px;
    color: rgb(117, 106, 187);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 1rem;
  }
  
  h4,
  h3,
  span {
    color: rgb(117, 106, 187);
  }
  
  .aboutContent,
  .jobTag,
  #skillSection {
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 480px;
    padding-bottom: 10px;
  }
  
  .jobTag {
    margin-bottom: 0;
  }
  
  .aboutContent {
    border-bottom: 1px solid rgb(212, 196, 164);
  }
  
  #skillSection,
  #factsSection {
    margin-bottom: 20px;
  }
  
  #skillSection {
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  #skills {
    margin-bottom: 10px;
  }
  
  .jobTag,
  .listItem {
    color: rgba(152, 140, 115, 0.808);
    font-weight: bold;
    font-style: italic;
  }
  
  .listItem {
    font-style: normal;
  }
  
  #list {
    list-style-type: none;
  }
  
  #toolkitTitle,
  #funFactsTitle {
    color: rgb(117, 106, 187);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .subTitle {
    font-weight: 500;
  }
  @media (max-width: 970px) {
    #aboutIntro {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    #aboutImageContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    #workTimeline {
      margin-top: 0;
    }
    #funFactsSection {
      display: flex;
      flex-direction: column;
    }
    #skillSection {
      margin-left: 1rem;
      border-bottom: 1px solid rgb(212, 196, 164);
    }
    #experienceSection {
      margin-left: 1rem;
    }
    #resumeButton {
      margin-bottom: 20px;
    }
    .pitchSectionParagraph {
      margin-top: 0;
    }
  }