/*#carouselContainer {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 65vh;
  overflow-y: auto;
}*/

#slide {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

#arrowSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 2rem;
  height: 2rem;
  color: rgb(117, 106, 187);
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  margin: 2rem;
}

.indicator {
  width: .5rem; /* Set width */
  height: .5rem; /* Set height */
  border-radius: 50%; /* Make it a circle */
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
}
