#arrowSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.arrow {
  width: 2.5rem;
  height: 2.5rem;
  color: rgb(117, 106, 187);
  cursor: pointer;
}

.indicators {
  display: flex;
  margin: 0rem 1rem 0rem 1rem;
}

.indicator {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0rem 0.2rem 0rem 0.2rem;
  cursor: pointer;
}
