#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

#pitchSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  margin-bottom: 1rem;
}

.pitchSectionParagraph,
.pitchSectionParagraphOne {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.pitchSectionParagraph {
  margin-top: 1.5rem;
}

#welcomeLine,
#missionLine,
.work {
  color: rgb(117, 106, 187);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}

#welcomeLine {
  font-size: 48px;
}

.work {
  margin-bottom: 0px;
  font-size: 20px;
}

.homeContentTwo,
.homeContentOne {
  font-weight: lighter;
  font-size: 24px;
  line-height: 1.5;
}

#homePhotoContainer {
  margin: 2rem 0rem 0rem 0rem;
}

#homePhotoContainer,
#homePhoto {
  width: auto;
  display: block;
  max-width: 450px;
}

@media (max-width: 768px) {
  #pitchSection {
    margin: 0rem 1rem 1rem 1rem;
  }
  #homePhotoContainer,
  #homePhoto {
    width: auto;
    display: block;
    max-width: 320px;
  }
  #welcomeLine {
    font-size: 24px;
  }
  .homeContentOne,
  .homeContentTwo {
    font-size: 16px;
  }
}
