#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.heroSection {
  display: flex;
  margin-bottom: 2rem;
}

#pitchSection {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 4rem 1rem 1rem 1rem;
}

.pitchSectionParagraph,
.pitchSectionParagraphOne {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.pitchSectionParagraph {
  margin-top: 1.5rem;
}

#welcomeLine,
#missionLine,
.work, .underConstruction {
  color: rgb(117, 106, 187);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}

#welcomeLine {
  font-size: 48px;
}

.work {
  margin-bottom: 0px;
  font-size: 20px;
}

.homeContentTwo,
.homeContentOne {
  font-weight: lighter;
  font-size: 24px;
  line-height: 1.5;
}

#homePhotoContainer {
  margin: 4rem 0rem 0rem 0rem;
}

#homePhotoContainer,
#homePhoto {
  width: auto;
  display: block;
  max-width: 450px;
}

.underConstruction {
 text-align: center;
  max-width: 750px;
  font-weight: bold;
  margin-bottom: 2rem;
}
#homePhotoContainerTop, #homePhotoTop {
  display: none;
}

@media (max-width: 768px) {
  .heroSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
  }
  #pitchSection {
    margin: 0rem 1rem 1rem 1rem;
  }
  #homePhotoContainer,
  #homePhoto {
   display: none;
  }
  #homePhotoContainerTop {
    display: block;
  }
  #homePhotoTop {
    width: auto;
    display: block;
    max-width: 380px;
  }
  #welcomeLine {
    font-size: 40px;
  }
  .homeContentOne,
  .homeContentTwo {
    font-size: 20px;
  }
  .pitchSectionParagraph, .pitchSectionParagraphOne {
    width: 100%;
  }
}
