#projectBody {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 20px;
}

.projectDescription {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

#projectImage {
  width: 400px;
}

.projectContent {
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  max-width: 480px;
  color: rgba(152, 140, 115, 0.808);
  font-weight: bold;
  font-style: italic;
}

.projectParagraph {
  justify-content: start;
  text-align: left;
  margin-bottom: 1rem;
  margin-right: 1rem;
  max-width: 480px;
  padding-top: 10px;
}

.projectHeader,
.popUpHeader {
  color: rgb(117, 106, 187);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 0px;
}

.popUpHeaderTop {
  font-size: 24px;
  margin-bottom: 10px;
}

#topPopUpSection {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid rgb(212, 196, 164);
  margin-bottom: 20px;
}

#closeButton {
  font-size: 32px;
}

.popUpHeader {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(212, 196, 164);
}

.buttonSection {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.projectParagraphNote {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(212, 196, 164);
}

.popUpOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(162, 106, 105, 0.4);
}

.popUpContent {
  margin-top: 9rem;
  max-width: 90%;
  max-height: 90vh;
  object-fit: contain;
  display: block;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

#projectSketches {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#projectSketches img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wireFrameContainer {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

#wireFrameImage {
  width: 700px;
}

#thumbnailContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 736px) {
  .projectDescription {
    margin-left: 1rem;
  }
}

@media (max-width: 980px) {
  #projectBody {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  #projectImage {
    width: 300px;
  }
  .popUpContent {
    margin-top: 6rem;
  }
}
