#work {
  padding-top: 7rem;
}
#projectBody {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem;
}

.projectDescription {
  margin: 1rem 1rem 0rem 1rem;
}

#projectImage {
  width: 400px;
}

.buttonWork {
  width: 400px;
  margin-bottom: 1rem;
}

.projectContent {
  color: rgba(152, 140, 115, 0.808);
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  max-width: 480px;
  margin-bottom: 10px;
}

.projectParagraph {
  font-size: 16px;
  font-weight: 500;
  max-width: 480px;
  margin: 0rem 1rem 1rem 0rem;
}

.devProcess {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  margin: 1rem 0rem 1rem 0rem;
  cursor: pointer;
}

.magnify {
  font-size: 40px;
  padding: 5px;
  margin-left: 0.5rem;
  border-radius: 10px;
  border: 2px solid rgb(237, 234, 234);
}

.magnify:hover {
  border: 2px solid wheat;
  background-color: wheat;
}

.projectHeader,
.popUpHeader {
  color: rgb(117, 106, 187);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}

.popUpHeaderTop {
  color: rgb(117, 106, 187);
  font-size: 24px;
  margin-bottom: 10px;
}

#topPopUpSection {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid rgb(212, 196, 164);
}

#closeButton {
  color: rgb(117, 106, 187);
  font-size: 32px;
}

.popUpHeader {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(212, 196, 164);
}

.projectParagraphNote {
  font-size: 16px;
  font-weight: normal;
  width: 480px;
  padding-bottom: 5px;
}

.popUpOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(162, 106, 105, 0.4);
}

.popUpContent {
  max-width: 90%;
  max-height: 90vh;
  object-fit: contain;
  display: block;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
}

#projectSketches {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#projectSketches img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wireFrameContainer {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

#wireFrameImage {
  width: 700px;
}

#thumbnailContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #work {
    width: 100%;
    padding-top: 3rem;
  }
  #projectBody {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  #projectImage {
    width: 300px;
  }
  .magnify {
    border: 2px solid wheat;
    background-color: wheat;
  }
  .buttonWork {
    width: 100%;
    margin-bottom: 1rem;
  }
  .projectParagraphNote {
    width: 100%;
  }
}
