* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#root {
  width: 100%;
  overflow: hidden;
  line-height: 1.5;
  color: rgb(162, 106, 105);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
.buttonWork {
  background-color: wheat;
  border-radius: 10px;
  color: rgb(117, 106, 187);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

button,
.buttonWork a {
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  display: block;
}

button,
.buttonWork a {
  color: rgb(117, 106, 187);
}

button:hover,
button:focus,
.buttonWork a:hover,
.buttonWork a:focus {
  background-color: rgb(117, 106, 187);
  color: white;
}

.buttonWork a:visited {
  color: inherit;
}




