/*main styling*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#root {
  line-height: 1.5;
  color: rgb(162, 106, 105);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex-grow: 1;
  background: linear-gradient(rgba(245, 248, 248, 0.958), white);
}

/* nav bar styling */

p {
  font-weight: 500;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgb(212, 196, 164);
  background-color: rgba(245, 248, 248, 0.958);
}

button,
.buttonWork {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(227, 187, 187);
  color: rgb(117, 106, 187);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

button,
.buttonWork a {
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  display: block;
}

button,
.buttonWork a {
  color: rgb(117, 106, 187);
}

button:hover,
button:focus,
.buttonWork a:hover,
.buttonWork a:focus {
  background-color: rgb(117, 106, 187);
  color: white;
}

.buttonWork a:visited {
  color: inherit;
}

#hamMenu {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 15px;
  padding: 5px;
  color: white;
  background-color: rgb(162, 106, 105);
  border-radius: 10px;
  font-size: 30px;
  position: relative;

  flex-grow: 0; /* Don't allow it to grow */
  flex-shrink: 0; /* Don't allow it to shrink */
}

.menu {
  position: absolute;
  display: none;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 1000;
}

.menu.active {
  margin-left: .5rem;
  display: block;
}

.navItem {
  list-style-type: none;
}

.navItem a {
  color: rgb(117, 106, 187);
  font-size: 18px;
  display: block;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.navItem a:link,
.navItem a:visited {
  color: rgb(117, 106, 187);
}

#headers {
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}

#name {
  font-size: 40px;
  color: rgb(117, 106, 187);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

#role {
  font-size: 24px;
  color: rgb(162, 106, 105);
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

@media (max-width: 976px) {
  #headers {
    text-align: right;
    margin-right: 1rem;
  }
  #name {
    font-size: 24px;
  }
  #role {
    font-size: 18px;
  }
}

/* footer styling */

#footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid rgb(212, 196, 164);
  background-color: white;
}

#footer img,
#footer .material-symbols-outlined {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

#footer .material-symbols-outlined {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#footer a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  text-decoration: none;
}

/*home page styling*/

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pitchSection {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.pitchSectionParagraph,
.pitchSectionParagraphOne {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin-bottom: 2rem;
}

.pitchSectionParagraph {
  margin-top: 1.5rem;
  justify-content: center;
}



#welcomeLine,
#missionLine,
.work {
  color: rgb(117, 106, 187);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 10px;
}

#welcomeLine{
  font-size: 48px;
}

.work {
  margin-bottom: 0px;
  font-size: 20px;
}

.homeContentTwo, .homeContentOne {
  font-weight: lighter;
  font-size: 24px;
  line-height: 1.5;
  margin-right: 20px;
  margin-bottom: 10px;
}

.homeContentOne {
  font-size: 24px;
}

#homePhotoContainer {
  margin: 2rem;
  margin-bottom: 0;
}

#homePhotoContainer,
#homePhoto {
  width: auto;
  display: block;
  max-width: 550px;
}

@media (max-width: 976px) {
  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #pitchSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  #homePhotoContainer,
  #homePhoto {
    width: auto;
    display: block;
    max-width: 380px;
  }
  .pitchSectionParagraphOne {
    border-bottom: 1px solid rgb(212, 196, 164);
    margin-bottom: 20px;
  }
  #welcomeLine {
    font-size: 24px;
  }
  .homeContentOne, .homeContentTwo {
    font-size: 16px;
  }
}

/* about page styling */

#aboutIntro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 633px) {
  #workIntro {
    display: inline-block;
    flex-direction: column;
  }
}

#headline {
  margin-bottom: 1rem;
}

#aboutImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutImageContainer img {
  width: 350px;
  height: auto;
  display: block;
}

#aboutIntro {
  flex-direction: row;
  justify-content: center;
}

#workTimelineHeader {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#workTimeLineTag, #skillsTitle {
  font-size: 26px;
  color: rgb(117, 106, 187);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 1rem;
}

h4,
h3,
span {
  color: rgb(117, 106, 187);
}

.aboutContent,
.jobTag,
#skillSection {
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  max-width: 480px;
  padding-bottom: 10px;
}

.jobTag {
  margin-bottom: 0;
}

.aboutContent {
  border-bottom: 1px solid rgb(212, 196, 164);
}

#skillSection,
#factsSection {
  margin-bottom: 20px;
}

#skillSection {
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#skills {
  margin-bottom: 10px;
}

.jobTag,
.listItem {
  color: rgba(152, 140, 115, 0.808);
  font-weight: bold;
  font-style: italic;
}

.listItem {
  font-style: normal;
}

#list {
  list-style-type: none;
}

#toolkitTitle,
#funFactsTitle {
  color: rgb(117, 106, 187);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: left;
}

.subTitle {
  font-weight: 500;
}
@media (max-width: 970px) {
  #aboutIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #aboutImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #workTimeline {
    margin-top: 0;
  }
  #funFactsSection {
    display: flex;
    flex-direction: column;
  }
  #skillSection {
    margin-left: 1rem;
    border-bottom: 1px solid rgb(212, 196, 164);
  }
  #experienceSection {
    margin-left: 1rem;
  }
  #resumeButton {
    margin-bottom: 20px;
  }
  .pitchSectionParagraph {
    margin-top: 0;
  }
}


