* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color: rgba(225, 20, 20, 0.87);

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex-grow: 1; /* Allows main content to expand and fill available space */
}

p {
  font-weight: 500;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

#navHeader {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#headerFirstName {
  width: 110px;
}

#headerLastName {
  margin-top: 0.5rem;
  width: 220px;
}

#navLinks {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: start;
}

@media (max-width: 576px) {
  nav,
  #navHeader {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 0;
  }

  #navLinks {
    margin-top: 0.5rem;
    justify-content: left;
  }
  .navButton {
    justify-content: left;
    margin-left: 0;
  }

  .navButtonMiddle {
    margin-right: 1rem;
  }

  #navHeader {
    justify-content: left;
    align-items: left;
  }
}

/* footer styling*/

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid grey;
}

#footer img,
#footer .material-symbols-outlined {
  height: 50px; /* Sets a fixed height for all icons */
  width: 50px; /* Sets a fixed width for all icons */
  object-fit: contain; /* Ensures images are scaled correctly within the dimensions */
}

#footer .material-symbols-outlined {
  font-size: 50px; /* Sets the font size to match the height and width for uniformity */
  display: flex; /* Ensures the span behaves like a flex item */
  align-items: center; /* Centers the icon vertically */
  justify-content: center; /* Centers the icon horizontally */
  line-height: 1; /* Removes extra line height that may affect vertical alignment */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#footer a {
  display: inline-flex; /* Makes the link behave like a flex container */
  align-items: center; /* Centers the icon vertically within the link */
  justify-content: center; /* Centers the icon horizontally within the link */
  margin: 0 10px; /* Adds horizontal space between each link */
  text-decoration: none; /* Optional: removes underline from links */
}

#workIntro,
#aboutIntro {
  display: flex;
  flex-direction: row;
  text-align: left;
}

#aboutIntro {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 930px;
}

@media (max-width: 633px) {
  #workIntro {
    display: inline-block;
    flex-direction: column;
  }
}

#headline {
  margin-bottom: 1rem;
}

#aboutImageContainer {
  width: auto;
  display: flex;
  align-items: center;
  margin: 1rem;
}

#aboutImageContainer img {
  width: 300px;
  height: auto;
  display: block;
}

#workTimeline {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 25px;
  padding-top: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#workTimelineHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

#workTimelineHeader img {
  width: 130px;
  height: auto;
  display: block;
}

#workTimeLineTag {
  font-size: 30px;
}

@media (max-width: 815px) {
  #aboutIntro {
    display: flex;
    flex-direction: column;
  }
  #aboutImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #workTimeline {
    margin-top: 0;
    margin-left: 1rem;
  }
}

.aboutContent {
  margin-bottom: 0.8rem;
  font-size: 12.9px;
}

#funFactsSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
}

#funFactsTitle {
  padding-left: 0.7rem;
}

#facts {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin-left: 1rem;
  border: 1px solid grey;
  border-radius: 25px;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#list {
  list-style-type: none;
}

.listItem {
  font-size: 12.9px;
  font-weight: 500;
  padding: 0.5rem;
}

#techSection {
  margin-right: 1rem;
}

#toolkitTitle {
  margin-bottom: 0.5rem;
}

.subTitle {
  font-weight: 500;
}

/*home page styling*/

#home {
  display: flex;
  flex-direction: row;
}

#pitchSection {
  justify-content: start;
  text-align: left;
  border: 1px solid grey;
  border-radius: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#welcomeLine {
  font-size: 1.5rem;
  font-weight: bold;
}

#missionLine {
  margin-top: 2rem;
}

#homePhotoContainer {
  width: 35%;
  display: block;
  max-width: 400px;
}

#homePhoto {
  width: 350px;
  height: auto;
  display: block;
}

@media (max-width: 976px) {
  #home {
    display: flex;
    flex-direction: column;
  }
  #pitchSection {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
