nav {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(212, 196, 164);
  background-color: rgba(245, 248, 248);
  z-index: 1000;
}

button,
.buttonWork {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(227, 187, 187);
  color: rgb(117, 106, 187);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

button,
.buttonWork a {
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  display: block;
}

button,
.buttonWork a {
  color: rgb(117, 106, 187);
}

button:hover,
button:focus,
.buttonWork a:hover,
.buttonWork a:focus {
  background-color: rgb(117, 106, 187);
  color: white;
}

.buttonWork a:visited {
  color: inherit;
}

#hamMenu {
  display: flex;
  justify-content: center;
  cursor: pointer;
  /*margin: 15px;*/
  /*padding: 5px;*/
  color: white;
  /*background-color: rgb(162, 106, 105);*/
  border-radius: 10px;
  /*font-size: 30px;*/
  position: relative;
  margin-right: 2rem;
  align-items: center;
  width: 45px;
  height: 45px;
  transition: all 0.5s ease-in-out;
  border: 3px solid rgb(162, 106, 105);
}

.menuButtonBurger {
  position: relative;
  width: 25px;
  height: 3px;
  background: rgb(162, 106, 105);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  display: block;
  cursor: pointer;
}

.menuButtonBurger::before,
.menuButtonBurger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: rgb(162, 106, 105);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  left: 0;
  transform-origin: center;
  top: 10px;
}

.menuButtonBurger::after {
  top: -10px;
}

.menuButtonBurger::before {
  transform: translateY(-16px);
}

.menuButtonBurger::after {
  transform: translateY(16px);
}

/* animation */

.menuButtonBurger.open {
  background: transparent;
}

.menuButtonBurger.open::before {
  transform: rotate(-45deg) translate(0, 0);
  top: 0;
}

.menuButtonBurger.open::after {
  transform: rotate(45deg) translate(0, 0);
  top: 0;
}

.menu {
  /*background-color: rgba(245, 248, 248, 0.958);*/
  position: absolute;
  margin-top: 2.5rem;
  display: none;
  top: 100%;
  right: 0px;
  width: 100px;
  z-index: 1000;
}

.menu.active {
  display: block;
}

.overlay {
  position: fixed;
  top: 310px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    162,
    106,
    105,
    0.4
  ); /* Semi-transparent reddish overlay */
  z-index: 999; /* Ensure this is higher than page content but lower than the menu */
  display: none;
}

.navItem {
  list-style-type: none;
}

.navItem a {
  border-radius: 10px;
  font-size: 18px;
  display: block;
  padding: 10px;
  margin: 10px;
  margin-top: 0;
  margin-right: 0;
  text-align: center;
  background-color: rgb(117, 106, 187, 0.1);
}

.navItem a:link,
.navItem a:visited {
  color: rgb(117, 106, 187);
}

.navItem a:hover {
  background-color: rgb(117, 106, 187);
  color: white;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#headers {
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

#name {
  font-size: 40px;
  color: rgb(117, 106, 187);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

#role {
  font-size: 24px;
  color: rgb(162, 106, 105);
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

@media (max-width: 976px) {
  /*nav {
      position: fixed;
    }*/

  #headers {
    text-align: left;
    margin-left: 1rem;
  }
  #name {
    font-size: 24px;
  }
  #role {
    font-size: 18px;
  }

  #hamMenu {
    margin-right: 10px;
    font-size: 25px;
  }

  .menu {
    margin: 0;
    position: fixed; /* Keeps the menu at the top as you scroll */
    top: 0; /* Aligns the menu at the top of the viewport */
    left: 0; /* Aligns the menu to the left edge of the viewport */
    right: 0; /* Ensures the menu stretches to the right edge */
    width: 100vw; /* Ensures the menu spans the full viewport width */
    background-color: rgba(245, 248, 248);
    z-index: 1000; /* Ensures it's on top of other content */
    flex-direction: column; /* Stacks items vertically */
    justify-content: center;
    margin-top: 4.7rem;
  }

  .navItem a {
    margin: 1rem;
    display: flex; /* Uses flex to center and stretch items */
    justify-content: center; /* Centers content horizontally */
    padding: 15px; /* Adds padding for better touch targets */
  }

  .menu.active + .overlay {
    display: block;
  }
}
