/*work page*/

#projectSketches,
#projectBody, #projectBodyTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projectBody, #projectBodyTwo {
  margin-top: 2rem;
  flex-direction: row;
}

#projectBodyTwo {
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  #projectBody, #projectBodyTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#projectThumbnails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 736px) {
  #projectThumbnails {
    display: inline-block;
    flex-direction: column;
  }
  #projectDescription {
    margin-left: 1rem;
  }
}

#workImage {
  max-width: auto;
  height: 100%;
  display: block;
}

.projectDescription {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

@media (max-width: 736px) {
  #projectSketches {
    margin-left: 1rem;
  }
  #projectThumbnails {
    display: inline-block;
    flex-direction: column;
  }
  .projectDescription {
    margin-left: 1rem;
  }
}

#sketchContainer,
#imageContainer,
#sketchContainerBottom {
  width: auto;
  display: block;
}

#sketchContainerBottom {
  margin-bottom: 1rem;
}

#sketchImage,
#projectImage {
  width: 200px;
  height: auto;
  display: block;
}

#projectImage {
  width: 350px;
}

.projectContent {
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  max-width: 480px;
  color: rgba(152, 140, 115, 0.808);
  font-weight: bold;
  font-style: italic;
}

/*KEEP*/
.projectParagraph {
  justify-content: start;
  text-align: left;
  margin-bottom: 1rem;
  margin-right: 1rem;
  max-width: 480px;
  padding-top: 10px;
}

/*KEEP*/
.projectHeader {
  color: rgb(117, 106, 187);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 0px;
}

#projectSketches {
  padding: 1.5rem;
  margin-left: 1.5rem;
}

#thumbnailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.buttonSection {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.projectParagraphNote {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(212, 196, 164);
}

.devProcessSection {
  display: flex;
  flex-direction: row;
}

#wireFrameButton {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: rgb(162, 106, 105);
  margin-top: 0;
  cursor: pointer;
}

.designHeader {
  margin-left: 1.5rem;
}

.popUpOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.popUpContent {
  max-width: 90%;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  background-color: white;
  /*border: 1rem solid white; /* Optional: styling for the content border */
  overflow-y: auto;
  overflow-x: hidden;
  /*box-sizing: border-box; /* Makes sure padding and borders are included in width/height */
}

#graphModal img {
  max-height: 80vh;
  max-width: 90%;
  object-fit: contain;
  display: block;
  border: 1rem solid white;
}

#graphModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#projectSketches img {
  max-width: 100%;  /* Ensures the image is never wider than its container */
  height: auto;     /* Maintains the aspect ratio of the image */
  display: block;   /* Removes any extra space below the image */
}

#projectSketches {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centers the images in the container */
}

#thumbnailContainer, #sketchContainerBottom {
  width: 100%;  /* Use the full width of the parent, adjust as necessary */
  text-align: center;  /* Centers content like buttons and images if not already handled by flex */
  margin-bottom: 20px;  /* Adds some space between your elements */
}

#thumbnailContainer img, #sketchContainerBottom img {
  max-height: 80vh;  /* Limits the height of the image to 80% of the viewport height */
}

@media (max-width: 736px) {
  #projectSketches, .designHeader {
    margin-left: 2.5rem;
  }
  #projectThumbnails {
    display: inline-block;
    flex-direction: column;
  }
  .projectDescription {
    margin-left: 1rem;
  }
}
