/*work page*/

#projectSketches, #projectBody {
    display: flex;
    flex-direction: row;
  }
  
  @media (max-width: 500px) {
    #projectBody {
      display: inline-block;
      flex-direction: column;
    }
  }
  
  #projectThumbnails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  @media (max-width: 633px) {
    #projectThumbnails {
      display: inline-block;
      flex-direction: column;
    }
  }
  
  #workImage {
    max-width: auto;
    height: 100%;
    display: block;
  }

  /*project pages*/
  
  #sketchContainer, #imageContainer {
    width: auto;
    display: block;
  }
  
  #sketchImage, #projectImage {
    width: 200px; 
    height: auto; 
    display: block; 
  }

  #projectImage {
    width: 350px;
  }
  
  #thumbnailContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%; 
  }
  
  #thumbnail {
    margin-top: 2rem;
    width: 150px; 
      height: auto; 
      box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  }
  
  #graphModal img {
    max-height: 80vh;
    max-width: 90%; /*NOT SURE I NEED THIS*/
    object-fit: contain; /* Keeps the image's aspect ratio */
    display: block;
  }
  
  #graphModal {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed; /* Stay in place */
    z-index: 100; /* Ensure it's on top of other content */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); 
  }


  
  